.pictures__content__one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  border: 3px solid red;
}

.pic {
    width: fit-content;
}