.navbar {
    background-color: #304F47;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    align-items: center;
}

.leftpart {
    display: flex;
    gap: 20px;
    color: white;
}

.fa-solid {
    font-size: 25px;
}